<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='shortcut icon' href='web-cats.ico' type='image/x-icon'/ >
		<title>Hullabaloo Books</title>
		<link rel="stylesheet" href="stylesheets/main.css">
		<link href='https://fonts.googleapis.com/css?family=Catamaran:400,600,300,800' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<header class="header">
				<div class="header__slogan">A volunteer based, micro bookstore!</div>
		</header>
		<div class="main-container">
			<section class="siderail">

				<img class="siderail__logo" src="assets/hullabaloo-logo.png"/>

				<!-- <div class="triangle-container">
				</	 -->
				
				<svg class="triangle--small" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 643 206"><defs><style>.cls-1{fill:#0f0803;}</style></defs><title>triangle</title><polygon class="cls-1" points="321.6 0 643 206 0 206 321.6 0"/></svg>

				<div class="black-box">
				</div>	
				
					<div class="siderail__store-info">
						<div class="store-info">
							<h1 class="siderail__header">Hours</h1>
							<div> Mon - Sun </div>
							<div> 11:00 - 7:00 PM </div>
						</div>

						<div class="store-info">
							<h1 class="siderail__header"> Give us a ring </h1>
							<div> 347- 240-7414 </div>
						</div>

						<div class="store-info">
							<h1 class="siderail__header">Drop on By</h1>
							<div> 658 Franklin Ave. </div>
							<div> Brooklyn, NY 11238 </div>
						</div>

						<div class="store-info__social">
							<ul>
								<li class="social__list"><a href="https://www.facebook.com/HullabalooBooks/"><img class="social__icon" src="assets/facebook-icon.png"/></a></li>
								<li class="social__list"><a href="https://twitter.com/hullabaloobooks"><img class="social__icon" src="assets/twitter-icon.png"></a></li>
							</ul>
						</div> 		
					</div>	<!-- End Store Info -->
					<svg class="triangle--large" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 1200 700" enable-background="new 0 0 1200 700" xml:space="preserve">
					<polygon fill="#1A1A1A" points="106.7,187.9 1090.9,697.7 1150,2.2 "/>
					</svg>

			</section>

			

			<section class="main">
				<div class="main__content">
					<div class="upcoming">
						<h1 class= "upcoming-about__header">Upcoming Events</h1>
							<div class="event">
								<strong class="event__date">
									June 20th
								</strong>
								<strong class="event__time">
									7:30PM
								</strong>	
								<a class="event__summary" href="http://classes.thinkolio.org/olios/i-cant-go-ill-go-trying-and-failing-and-trying-again-samuel-becketts-plays-novels-and-poems/">I Can't Go On, I'll Go On : Trying and Failing and Trying Again in Samuel Beckett's Plays, Novels, and Poems.</a>
							</div>
							<div class="event">
								<strong class="event__date">
									June 20th
								</strong>
								<strong class="event__time">
									7:30PM
								</strong>	
								<a class="event__summary" href="http://classes.thinkolio.org/olios/i-cant-go-ill-go-trying-and-failing-and-trying-again-samuel-becketts-plays-novels-and-poems/">I Can't Go On, I'll Go On : Trying and Failing and Trying Again in Samuel Beckett's Plays, Novels, and Poems.</a>
							</div>
	

							<div class="event__more">
								<a class="event__more__link" href=""><img class="event__icon" src="assets/down-circle.svg">More Events</a>
							</div>	

					</div>	<!-- End upcoming events -->

					<div class="about">
						<h1 class="upcoming-about__header">About Hullabaloo Books</h1>
						<p class="upcoming-about__text">Hullabaloo is a volunteer powered, micro bookstore located in Crown Heights Brooklyn. Open since 2013, Hullabaloo books strives to provide a communal space where events, readings and workshops are held and where love for the written word is celebrated.</p>
					</div>	<!--  End About  -->
				</div>
			</section>				
		</div>	
		<footer class="footer">
			 <a class="footer__text" href="http://incahoots.nyc/"> Made with care by inCahoots!</a> <!-- <img class="footer__logo" src="images/handshake.jpg"/> -->
		</footer>

	</body>

   <script type="text/javascript">
        var eventInfo = <%- JSON.stringify(eventInfo) %>;
    </script>

</html>