/* line 1, scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, scss/_reset.scss */
html * > svg {
  -webkit-transform-origin-x: 0%;
  -webkit-transform-origin-y: 0%;
  -webkit-transform-origin-z: initial;
}

/* HTML5 display-role reset for older browsers */
/* line 28, scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, scss/_reset.scss */
body {
  line-height: 1;
}

/* line 35, scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, scss/_styles.scss */
a {
  text-decoration: none;
  color: #0f0803;
  font-weight: bold;
  font-size: 14px;
}
/* line 12, scss/_styles.scss */
a:hover {
  text-decoration: none;
  opacity: .6;
  transition-duration: 800ms;
}

/* line 19, scss/_styles.scss */
body {
  background-image: url("assets/hullabaloo-bg.png");
  background-repeat: repeat;
}
/* line 23, scss/_styles.scss */
body * {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
}

/* line 30, scss/_styles.scss */
.main-container {
  margin: auto;
  max-width: 1280px;
}

/* line 35, scss/_styles.scss */
.header {
  background: #fff;
  text-align: center;
  height: 35px;
  border-bottom: 1px solid #ae5c12;
}
/* line 41, scss/_styles.scss */
.header__slogan {
  padding-top: 10px;
}

/* line 46, scss/_styles.scss */
.siderail {
  text-align: center;
}
@media (min-width: 480px) {
  /* line 46, scss/_styles.scss */
  .siderail {
    width: 30%;
    display: inline-block;
    position: relative;
  }
}
/* line 55, scss/_styles.scss */
.siderail__store-info {
  background: #ffe4cc;
  width: 95%;
  margin: auto;
  padding: 20px 0;
  z-index: 400;
  position: relative;
  margin-top: -20%;
}
@media (min-width: 480px) {
  /* line 55, scss/_styles.scss */
  .siderail__store-info {
    background: none;
    margin-top: 0;
  }
}
/* line 70, scss/_styles.scss */
.siderail__Logo {
  width: 200px;
  padding-top: 20px;
}
@media (min-width: 480px) {
  /* line 70, scss/_styles.scss */
  .siderail__Logo {
    width: 80%;
    max-width: 300px;
  }
}

/* line 81, scss/_styles.scss */
.black-box {
  background-color: #0f0803;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}
@media (min-width: 480px) {
  /* line 81, scss/_styles.scss */
  .black-box {
    display: none;
  }
}

@media (min-width: 480px) {
  /* line 93, scss/_styles.scss */
  .triangle--small {
    display: none;
  }
}

/* line 101, scss/_styles.scss */
.triangle--large {
  display: none;
}
@media (min-width: 480px) {
  /* line 101, scss/_styles.scss */
  .triangle--large {
    display: inline-block;
    position: absolute;
    top: 9%;
    z-index: 200;
    left: 33%;
    width: 290%;
    max-width: 1180px;
  }
}

/* line 115, scss/_styles.scss */
.siderail__header, .upcoming-about__header {
  font-weight: 600;
  text-transform: uppercase;
  color: #ae5c12;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 0;
}

@media (min-width: 480px) {
  /* line 125, scss/_styles.scss */
  .upcoming-about__header {
    text-align: left;
    font-size: 22px;
    padding: 10px 0 0 0;
  }
}

/* line 135, scss/_styles.scss */
.store-info {
  padding: 5px 0;
  text-transform: uppercase;
  line-height: 18px;
}

@media (min-width: 480px) {
  /* line 141, scss/_styles.scss */
  .main {
    width: 50%;
    max-width: 650px;
    display: inline-block;
    vertical-align: top;
    z-index: 300;
    position: relative;
    margin-top: 35px;
  }
}
/* line 152, scss/_styles.scss */
.main__content {
  background: #ffe4cc;
  padding: 10px 0;
  position: relative;
  z-index: 300;
  margin: auto;
  width: 95%;
}
@media (min-width: 480px) {
  /* line 152, scss/_styles.scss */
  .main__content {
    width: 100%;
    height: 100%;
    padding: 30px;
  }
}

/* line 169, scss/_styles.scss */
.upcoming, .about {
  margin-top: 20px;
  background-color: #ffe4cc;
  width: 95%;
  margin: auto;
}
@media (min-width: 480px) {
  /* line 169, scss/_styles.scss */
  .upcoming, .about {
    padding: 20px 0 0 0;
  }
}

/* line 181, scss/_styles.scss */
.event {
  margin: 10px 0;
}
@media (min-width: 480px) {
  /* line 181, scss/_styles.scss */
  .event {
    margin: 20px 0;
  }
}
/* line 188, scss/_styles.scss */
.event__date {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px 0;
}
/* line 195, scss/_styles.scss */
.event__summary {
  margin: 5px 0 0 0;
  display: block;
}
/* line 200, scss/_styles.scss */
.event__icon {
  width: 20px;
  padding: 15px 5px;
  display: inline-block;
  vertical-align: middle;
}
/* line 207, scss/_styles.scss */
.event__more {
  text-transform: uppercase;
}
/* line 210, scss/_styles.scss */
.event__more__link {
  font-weight: 600;
}

/* line 218, scss/_styles.scss */
.social__icon {
  width: 25px;
  padding: 15px 5px;
  display: inline-block;
  vertical-align: middle;
}
/* line 225, scss/_styles.scss */
.social__list {
  display: inline-block;
}

/* line 230, scss/_styles.scss */
.footer {
  height: 45px;
  background: #0f0803;
  color: #fff;
}
/* line 235, scss/_styles.scss */
.footer__text {
  color: #A9A29D;
  text-align: center;
  padding: 15px;
  font-size: 12px;
  vertical-align: middle;
  display: block;
  margin: auto;
}
